<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
        <!-- Outbound rules to apply CSP only for https traffic -->
        <outboundRules>
            <!-- Rule to add HSTS Header -->
            <rule name="Add HSTS Header to HTTPS only">
                <match serverVariable="RESPONSE_Strict-Transport-Security" pattern=".*" negate="false" />
                <conditions>
                    <!-- Apply only on HTTPS -->
                    <add input="{HTTPS}" pattern="on" />
                    <!-- Optionally, apply HSTS only to certain subdomains or exclude certain URIs -->
                    <!-- Example: Exclude certain paths -->
                    <!-- <add input="{REQUEST_URI}" pattern="^/somepath" negate="true" /> -->
                </conditions>
                <!-- Set the HSTS Header with a max-age of 1 year and include subdomains -->
                <action type="Rewrite" value="max-age=63072000;" />
            </rule>
            <rule name="Add CSP Header to HTTPS only for non-resource types">
                <match serverVariable="RESPONSE_Content-Security-Policy" pattern=".*" negate="false" />
                <conditions>
                    <!-- Apply only on HTTPS -->
                    <add input="{HTTPS}" pattern="on" />
                    <!-- Exclude images -->
                    <add input="{REQUEST_URI}" pattern="\.(gif|jpg|jpeg|png|svg|ico)$" negate="true" />
                    <!-- Exclude stylesheets -->
                    <add input="{REQUEST_URI}" pattern="\.css$" negate="true" />
                    <!-- Exclude JavaScript files -->
                    <add input="{REQUEST_URI}" pattern="\.js$" negate="true" />
                    <!-- Exclude fonts -->
                    <add input="{REQUEST_URI}" pattern="\.(woff|woff2|ttf|otf|eot)$" negate="true" />
                </conditions>
                <action type="Rewrite" value="upgrade-insecure-requests;default-src 'self';style-src 'self' 'unsafe-inline' https://cdn.tiny.cloud/;script-src 'self' https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js https://cdn.jsdelivr.net/npm/apexcharts https://cdn.tiny.cloud/1/ https://cdn.tailwindcss.com/ https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0/dist/chartjs-plugin-datalabels.min.js 'nonce-1nL1n3JsRuN1192kwoko2k323WKE';img-src 'self' https://flagcdn.com/ https://sp.tinymce.com/ https://ui-avatars.com/api/ https://lh3.googleusercontent.com/ https://quickchart.io/;frame-ancestors 'none';frame-src 'self' https://www.youtube.com/';child-src 'none';connect-src 'self' https://cdn.tiny.cloud/;base-uri 'none';object-src 'none';media-src 'none';manifest-src 'none';worker-src 'none';report-uri /api/csp-report;" />
            </rule>
        </outboundRules>
      <rules>
        <!-- Rule to redirect http to https, in case it needs to be done from the webserver, disabled by default -->
        <rule name="HTTP/S to HTTPS Redirect" enabled="false" stopProcessing="true">
            <match url="(.*)" />
            <conditions logicalGrouping="MatchAny">
                <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
        <!-- Rule to handle /create-env without routing through PHP router -->
        <rule name="Create Env" enabled="true" stopProcessing="true">
            <match url="^create-env$" ignoreCase="true" />
            <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="create-env.php" />
        </rule>
        <!-- Main PHP router functionality -->
        <rule name="PHP Router" enabled="true" stopProcessing="true">
            <match url="^(.*)$" />
            <conditions logicalGrouping="MatchAll">
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                <add input="{REQUEST_URI}" negate="true" pattern="\.jpg$|\.jpeg$|\.png$|\.gif$|\.webp$" />
            </conditions>
            <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>
    <security>
        <requestFiltering removeServerHeader="true">
            <requestLimits maxAllowedContentLength="21474836" />
        </requestFiltering>
    </security>
         <httpProtocol>
            <customHeaders>
               <clear />
               <add name="X-Xss-Protection" value="0" />
               <add name="X-Content-Type-Options" value="nosniff" />
               <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
               <add name="Permissions-Policy" value="accelerometer=(), ambient-light-sensor=(), autoplay=(), battery=(), camera=(), cross-origin-isolated=(), display-capture=(), document-domain=(), encrypted-media=(), execution-while-not-rendered=(), execution-while-out-of-viewport=(), fullscreen=(), geolocation=(), gyroscope=(), keyboard-map=(), magnetometer=(), microphone=(), midi=(), navigation-override=(), payment=(), picture-in-picture=(), publickey-credentials-get=(), screen-wake-lock=(), sync-xhr=(), usb=(), web-share=(), xr-spatial-tracking=()" />
               <add name="X-Permitted-Cross-Domain-Policies" value="none" />
               <add name="Cross-Origin-Embedder-Policy" value="unsafe-none" />
               <add name="Cross-Origin-Opener-Policy" value="same-origin" />
               <add name="Cross-Origin-Resource-Policy" value="same-origin" />
               <add name="Report-To" value="{&#34;group&#34;:&#34;csp-endpoint&#34;,&#34;max_age&#34;:10886400,&#34;endpoints&#34;:[{&#34;url&#34;:&#34;/api/csp-report&#34;}]}" />
               <remove name="X-Powered-By" />
            </customHeaders>
            <redirectHeaders>
               <clear />
            </redirectHeaders>
         </httpProtocol>
          <staticContent>
            <mimeMap fileExtension="webp" mimeType="image/webp" />
        </staticContent>
  </system.webServer>
</configuration>