<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="HTTP/S to HTTPS Redirect" enabled="false" stopProcessing="true">
            <match url="(.*)" />
            <conditions logicalGrouping="MatchAny">
                <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
        <rule name="PHP Router" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                <add input="{REQUEST_FILENAME}" pattern="\.jpg$|\.jpeg$|\.png$|\.gif$|\.webp$" negate="true" />
            </conditions>
            <action type="Rewrite" url="index.php" />
        </rule>
        <rule name="Remove .php" enabled="true" stopProcessing="true">
            <match url="^(.*)$" ignoreCase="true" />
                <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                <add input="{REQUEST_FILENAME}.php" matchType="IsFile" />
                </conditions>
            <action type="Rewrite" url="{R:0}.php" />
        </rule>
      </rules>
    </rewrite>
    <security>
        <requestFiltering removeServerHeader="true">
            <requestLimits maxAllowedContentLength="21474836" />
            <hiddenSegments applyToWebDAV="false">
                <add segment="actions.log" />
            </hiddenSegments>
        </requestFiltering>
    </security>
         <httpProtocol>
            <customHeaders>
               <clear />
               <add name="Content-Security-Policy" value="upgrade-insecure-requests;default-src 'self';style-src 'self' 'unsafe-inline' https://cdn.tiny.cloud/;script-src 'self' https://cdn.tiny.cloud/1/ https://cdn.tailwindcss.com/ https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0/dist/chartjs-plugin-datalabels.min.js 'nonce-1nL1n3JsRuN1192kwoko2k323WKE';img-src 'self' https://sp.tinymce.com/ https://ui-avatars.com/api/ https://lh3.googleusercontent.com/ https://quickchart.io/;connect-src 'self' https://cdn.tiny.cloud/;report-uri /csp-report;" />
               <remove name="X-Powered-By" />
            </customHeaders>
            <redirectHeaders>
               <clear />
            </redirectHeaders>
         </httpProtocol>
          <staticContent>
            <mimeMap fileExtension="webp" mimeType="image/webp" />
        </staticContent>
         <httpErrors errorMode="Custom" defaultResponseMode="File">
            <remove statusCode="401" subStatusCode="-1" />
            <error statusCode="401" path="/errors/401" responseMode="ExecuteURL" />
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" path="/errors/403" responseMode="ExecuteURL" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/errors/404" responseMode="ExecuteURL" />
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" path="/errors/500" responseMode="ExecuteURL" />
            <remove statusCode="502" subStatusCode="-1" />
            <error statusCode="502" path="/errors/502" responseMode="ExecuteURL" />
            <remove statusCode="503" subStatusCode="-1" />
            <error statusCode="503" path="/errors/503" responseMode="ExecuteURL" />
        </httpErrors>
  </system.webServer>
</configuration>